*{
  padding: 0px;
  margin: 0px;
}

p{
  font-family: party, Calibri, sans-serif;
}
.table{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  margin: 100px;
  grid-gap: 30px;
}
.results{
  background-color: rgb(0, 250, 0);
  text-align: center;
  font-size: 90px;
  border-radius: 10px;
  border: 100px solid rgb(250, 0, 0);
  padding: 20px;
}
.body{
  display: grid;
  grid-template-columns: 1fr 6fr 1fr;
  background-color: rgb(255, 0, 0);
}
.bannercontainer{
  position: sticky;
  top: 0;
  display: grid;
  grid-template-columns: auto;
  background-color: rgb(255, 0, 0);
}
.left-column{
  background-color: rgb(0, 255, 0);
}
.right-column{
  background-color: rgb(0, 0, 255);
}
.mid-column{

}
.card1{
  width: 50%;

}
.img{
  width: 50%;
  height: 50%;
}
.title{
  im
  background-color: rgb(0, 90, 90);
  padding: 20px;
  text-align: center;
}
.navbar{
  background-color: rgb(30, 100, 20);
  padding: 5px;
  text-align: center;
}
.Specials{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));

}
.Our_Vibe{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));

}
.Whats_On{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));

}
.picture{
  width: 100%;
}
.account{
  text-align: right;
}
#nav-toggle, .user_icon {
  display: none;
}
.card{
  text-align: center;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
}
.cat{
  image-orientation: 90deg;
}
.video{
  width: 100%;
}
a{
  color: rgb(0, 255, 0);
  text-decoration: none;
  font-size: 30px;
}
a:hover{
  background-color: blue;

}
a:link{
  color: rgb(0, 100, 0);
}
