*{
  padding: 0px;
  margin: 0px;
}
body{
  background-color: rgb(209, 155, 29);
}
form{
  text-align: center;
  margin-top: 300px;
}
.input_number{
  font-size: 50px;
}
.input_button{
  font-size: 50px;

}
.wrongmessage{
  font-size: 100px;
  text-align: center;
  color: red;
  margin-bottom: 50px;
  margin-top: 0px;

}
.rightmessage{
  font-size: 100px;
  text-align: center;
  color: green;
}
.start{
  font-size: 100px;
  text-align: center;
  color: blue;
}
