/* redfine the tags */
*{
  padding: 0px;
  margin: 0px;
}
body{
  background-color: rgb(166, 0, 255);
}
@font-face {
  font-family: Photoshoot;
  src: url(Photoshoot.ttf)
}
h1{
  color: rgb(117, 40, 38);
  font-family: Photoshoot, Calibri, sans-serif;
  margin: 0 0 20px 0;
}
h2{
  color: rgb(91, 113, 235);
  font-family: Photoshoot;
  margin: 25px 0 25px 0;
}
p{
  font-family: cursive, Calibri, sans-serif;
  margin-bottom: 10px;
  line-height: 25px;
  color: rgb(255, 255, 0);
}
a{
  color: rgb(0, 255, 0);
  text-decoration: none;
}
a:hover{
  text-decoration: line-through;
  color: rgb(0, 255, 255);
}
a:link{
  color: rgb(0, 100, 0);
}
ul{
  margin-left: 30px;
}
.bannercontainer {
  position: sticky;
  top: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  background-color: rgb(252, 3, 232);

}
.title {
  grid-column: span 2;
  padding-top: 30px;
  margin-left: 20px;
}
.navbar {
  text-align: right;
}
.main-container {

  display: grid;
  grid-template-columns: 1fr 2fr;

}

.description {
  display: grid;
  grid-template-rows: auto;

}
.card {
  background-color: rgb(0, 255, 0);
  border: 10px solid rgb(0, 238, 255);
  border-radius: 20px;
  overflow: hidden;
  margin: 10px 10px 10px 10px;
  width: auto;

}
.content{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
}
.back {
  text-align: right;
  padding: 50px 20px 0 0;
  font-size: 90px;
}
.button {
  border: 5px solid rgb(12, 0, 0);
  background-color: rgb(12, 0, 0);
  border-radius: 5px;
  margin-left: 90px;
}

.all-content {

  margin: 0 auto 0 auto;
  background-color: rgb(220, 20, 60);
}

#nav-toggle, .burger-menu {
  display: none;
}
@media only screen and (max-width: 1000px) {
  .bannercontainer{
    grid-template-columns: 1fr;
  }
  .title {
    grid-column: 1;
  }
  .navbar {
    text-align: left;
    grid-column: 2;
  }
  .main-container {
    grid-template-columns: 1fr;
  }
  .burger-menu {
    display: inline-block;
  }
  .left-menu {
    display: none;
  }


  #nav-toggle:checked ~ .left-menu {
    display: grid;
    grid-row: 2;
    grid-column: span 3;
    margin-top: 10px;
  }
}
